*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-color: #a1caed;
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin-top: 2em;
    margin-bottom: 0;
    color: #0D2032;
}
p {
    color: #0D2032;
}

.generator-wrapper {
    margin-top: 3em;
    background-color: #1F2937;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* x-offset | y-offset | blur | color */
}

.color-form {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    padding: 1em 0.5em;
    position: relative; z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* x-offset | y-offset | blur | color */
}

button {
    border: none;
    background-color: #3D4B60;
    color: white;  
    border-radius: 5px;
    font-size: 0.75rem;
    padding: 1em 1em;
}

select {
        background-color: #1F2937;
        padding: 0.25em 0.9em;
        color: #D5D4D8;
    border: 1px white solid;
    border-radius: 5px;
    flex: 1;
}

input {
    height: auto;
}

.color-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 300px;
}

.color-value-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.color-value-wrapper p{
    padding: 1em;
    font-size: 0.75rem;
}

.color1{
    background-color: #193e63;
}
.color2{
    background-color: #000000;
}
.color3{
    background-color: #0D2032;
}
.color4{
    background-color: #1A4066;
}
.color5{
    background-color: #25609A;
}
